__pycache__/
*.zip
*.pth
*.ckpt
*.safetensors
*.pt
*.zip
*.tar
*.obj
*.ply
*.wav
**/blender
**.ini
**.jpg
**.m4a
**.txt
**.png
**.gif
**.whl
**.blend
slurm-*
**.fbx
**.mtl
*.ipynb
*.pickle
*.npy
*.pkl
**/build
**.mat
.DS_Store
**.pb