__pycache__/
*.zip
*.pth
*.ckpt
*.safetensors
*.pt
*.zip
*.tar
*.obj
*.ply
*.wav
**/blender
**.ini
**.jpg
**.m4a
corr**.txt
landmarks**.txt
**/landmarks/**.txt

**.gif
**.whl
**.blend
slurm-*
**.fbx
**.mtl
*.ipynb
*.pickle
*.npy
*.pkl
**/build
**.mat
.DS_Store
**.pb
**.ipynb
**.png
!/images/*.png