torch==2.1.1 #CUDA 12.1
torchvision
torchaudio
tensorflow==2.15.0
pymeshlab
gdown
openai
openai-whisper
rtree
langchain
langchain-openai
Cython
librosa
matplotlib
phonemizer
scipy
tensorboard
Unidecode
transformers==4.35.2
tqdm
loguru
insightface==0.7.3
numpy==1.23.5
open3d
fastapi
uvicorn
python-multipart
# valle
langid
encodec
jieba
cn2an
inflect
vocos
nltk
sudachipy
eng_to_ipa
wget