torch
torchvision
torchaudio
tensorflow
"modelscope[cv]" -f https://modelscope.oss-cn-beijing.aliyuncs.com/releases/repo.html
git+https://github.com/NVlabs/nvdiffrast.git
git+https://github.com/facebookresearch/pytorch3d.git
pymeshlab
gdown
openai
openai-whisper
rtree
langchain
Cython
librosa
matplotlib
phonemizer
scipy
tensorboard
Unidecode
transformers
tqdm
loguru
insightface
numpy==1.23.4
open3d